/* ==========================================================================
   Sass variables
   ========================================================================== */

/*
   Typography
   ========================================================================== */

$doc-font-size: 16px;
$doc-line-height: 1.8;


/*
   Fonts
   ========================================================================== */

$base-font: "Georgia","Palatino","Times",sans-serif;
$basefont: "Georgia","Palatino","Times",sans-serif;
$heading-font: "Georgia","Palatino","Times",sans-serif;
$headingfont: "Georgia","Palatino","Times",sans-serif;
$code-font: Menlo, Monaco, "Courier New", monospace;
$codefont: Menlo, Monaco, "Courier New", monospace;
$sidebar-font: "PT Sans", Helvetica, Arial, sans-serif;
$sidebarfont: "PT Sans", Helvetica, Arial, sans-serif;


/*
   Colors
   ========================================================================== */

$maincolor      : #8c1515;
$boldcolor      : #303030;


/* links */
$linkcolor 		    : #8c1515;
$link-color         : $linkcolor;
$linkcolorhover 	: #5e3032;
$linkcolorvisited   : lighten($linkcolor, 10);
$linkcolorfocus 	: darken($linkcolor, 10);

/*heading*/

$headcolor      : $maincolor;
$titlecolor     : darken($maincolor, 5);

/* summary */
$summaryhead    : #fff;
$summaryheadbg  : #005a46;   
$summarybodybg  : #f6f8f8;

/* code */

$codebg         : #f5f5f5;
$codecolor      : #4070a0;

/* blockquote*/

$blockquoteleft : #e5e5e5;

/* text */

$bodycolor      : #fff;              // white used for background
$body-color     : $bodycolor;
$textcolor      : #515151;           
$text-color     : $textcolor;


/* buttons */
$primary			: #111;
$success			: #5cb85c;   // green 
$warning			: #dd8338;   // orange
$danger				: #C64537;   // red
$info				: #308cbc;   // blue

/* brands */
$facebook-color     : #3b5998;   
$flickr-color       : #ff0084;   
$foursquare-color   : #0cbadf;
$google-plus-color  : #dd4b39;
$instagram-color    : #4e433c;
$linkedin-color     : #4875b4;
$pinterest-color    : #cb2027;
$rss-color          : #fa9b39;
$tumblr-color       : #2c4762;
$twitter-color      : #55acee;
$vimeo-color        : #1ab7ea;
$youtube-color      : #ff3333;


/*
   Breakpoints   (used for responsive web design)
   ========================================================================== */
$large-breakpoint : 38em;
$large-font-size  : 18px;



$gray-1: #f9f9f9;
$gray-2: #ccc;
$gray-3: #767676;
$gray-4: #515151;
$gray-5: #313131;

$red: #ac4142;
$orange: #d28445;
$yellow: #f4bf75;
$green: #90a959;
$cyan: #75b5aa;
$blue: #268bd2;
// $blue: #6a9fb5;
$brown: #8f5536;


